plugins {
    id 'nf-schema@2.1.1'
}

validation {
    help {
        enabled = true
        command = \
"""
    nextflow \\
        -log 'outputs/nextflow.log' \\
        run \\
        -resume  -bg \\
        -profile docker \\
        -work-dir './outputs/work/' \\
    main.nf \\
        --indexsheet './inputs/example_indexsheet.csv' \\
        --bcl_path './inputs/example_BCL' \\
        --run_name 'example' \\
        --out-dir './outputs/'
"""
    }
}

schemaFile = "schemas/nextflow_schema.json"

params {
    run_name = null
    bcl_path = null
    indexsheet = null
    out_dir = null
    
    
}
process {
    withName: SAMPLESHEET {
      memory = '4.0G'
      cpus = 1
      container = 'seqwell/python:v1.0'
    }
    
    withName: BCLCONVERT {
      memory = '8.0G'
      cpus = 2
      container = 'seqwell/bcl-convert:4.2.7'
    }
    withName: SUMMARIZE_DEMUX {
      memory = '4.0G'
      cpus = 1
      container = 'seqwell/python:v1.0'
    }
    
    
}



profiles {
    apptainer {
        apptainer.enabled = true
    }

    aws {
        docker.enabled = true
    }

    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
    }
}


manifest {
    name            = 'seqWell Demux'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.11'
    version         = '1.0.0-dev'
}